/*Scrollbar do site completo*/
::-webkit-scrollbar{
    background-color: #ffffff;
    width: 10px;
    border-radius: 0 0px 0px 0;
}

::-webkit-scrollbar-thumb{
    background-color: #141d33;
    border-radius: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: gray;
}

/*Botão para descer na seção advogados*/
.nseiainda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0 80px 0;
    background-color: white;
    cursor: pointer;
}


.nseiainda h2{
    padding: 0 0 10px 0;
    font-family: 'Inter', sans-serif;
    font-size: 20pt;
    font-weight: 600;
}

.nseiainda-subtitulo{
    font-family: 'Inter', sans-serif;
    font-size: 15pt;
    font-weight: 300;
}

.nseiainda-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
    background-color: #ce9544;
    padding: 12px;
    margin: 30px 0 0 0;
}

.nseiainda-button-text{
    font-family: 'Inter', sans-serif;
    font-size: 14pt;
    font-weight: 300;
}

.nseiainda-button-icon{
    
}










.serviços{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    padding: 100px 0 60px 0 ;
    background-image: linear-gradient(0deg, #ce9544 1%, rgb(255, 255, 255) 40%);

}

.quadrados{
    padding: 20px;
    background-color: #141d33;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px -1px 29px -1px rgba(0, 0, 0, 0.711);
    overflow: hidden;
    cursor: default;
}

.quadrados:hover{
    transition: 0.5s;
    background-color: #364c80;
}






.quadrados_content_after{
    display: flex;
    flex-direction: column;
    gap: 10px;
}










.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #364c80;
    border-radius: 10px;
    width: 45px;
    height: 45px;
}

.service-titles{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 14pt;
    font-weight: 500;
    color: #ffffff;
}

.service-text{
    font-family: 'Inter', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: #ffffff;
}

























.reginaldo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: px;
    background-color:#ce9544;
}

.reginaldo-title{
    color: #141d33;
    font-family: 'Inter', sans-serif;
    font-size: 23pt;
    font-weight: 500;
    padding: 0 0 5px 0;
}

.reginaldo-position{
    color: #141d33;
    font-family: 'Inter', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    padding: 0 0 40px 0;
}

.reginaldo-text{
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 0 0 40px 0;
}

.foto-reginaldo{
    position: relative;
    top: 4px;
}





.carolina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#141d33;
    padding: 50px 0 0 0;
}

.carolina-title{
    color: #ce9544;
    font-family: 'Inter', sans-serif;
    font-size: 23pt;
    font-weight: 500;
    padding: 0 0 5px 0;
}

.carolina-position{
    color: rgb(255, 255, 255);    
    font-family: 'Inter', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    padding: 0 0 40px 0;
}

.carolina-text{
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 0 0 40px 0;
}

.foto-carolina{
    position: relative;
    top: 4px;
}






.endereco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#ffffff;
    padding: 150px 0;
}

.endereco-mapa{
    width: 500px;
    height: 250px;
}

.endereco-side-right{
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 10px 30px;
}

.endereco-title{
    color:#141d33;
    font-family: 'Inter', sans-serif;
    font-size: 20pt;
    font-weight: 500;
    padding: 0 0 20px 0;
}

.endereco-subtitle{
    color: #141d33;
    font-size: 15pt;
    font-family: 'Inter', sans-serif;
    padding: 0 0 20px 0;
}

.endereco-text{
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 0);
}
